@font-face {
  font-family: 'IBM-mono';
  src: url('./fonts/IBMPlexMono-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'IBM-mono';
  src: url('./fonts/IBMPlexMono-SemiBold.ttf') format('truetype');
  font-weight: bold;
}

* {
  font-size: 1rem;
  letter-spacing: 0.064rem;
  font-family: 'IBM-mono';
}
